.title {
  width: 100%;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
}

.product-header {
  margin-left: 10%;
}

.product-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.centered-table {
  top: 150px;
  margin-left: 10%;
  margin-right: 10%;
}

.mat-form-field {
  font-size: 14px;
  width: 15%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}