.content {
  margin-top: 70px;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th {
  border-right: 1px solid rgb(240, 240, 240);
  height: 5em;
  padding-left: 8px;
}

tr {
  border-bottom: 1px solid rgb(240, 240, 240);
}

tr:last-child {
  border-bottom: 0px;
}

td {
  padding-left: 8px;
}